@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff !important; 
}
.background {
  background: #f6f9fc;
  padding: 50px 0;
}
.container {
  max-width:90%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align-last: right;
}
input,
button {
  border: none;
  outline: none;
  background-color: none;
}
.row {
  width: 50%;
}
.position-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 0px;
  text-align: center;
  border-radius: 50%;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*---------category----------*/
.contentWidth {
  width: 100%;
}

.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category .box {
  transition: 0.5s;
  padding: 0 20px;
}
.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}
@media (max-width: 980px) {
  .contentWidth {
    width: 100%;
  }
}
/*---------category----------*/
.btn-primary {
  background: #007CFF;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading i {
  color: #007CFF;
  margin: 10px;
}
.discount {
  position: absolute;
  background: #007CFF;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  padding: 5px 10px;
  top: 10px;
  left: 10px;
}
/*---------product-----------*/
.product {
  display: grid;
  grid-template-columns: 1fr;
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
}
.product h3 {
  font-weight: 400;
  font-size: 17px;
}
.product .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price {
  display: flex;
  justify-content: space-between;
  color: #007CFF;
}
.buy .button-buy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #007CFF;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 1rem;
}
.buy .button-buy:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
}
.product-like {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;
}
.product-like label {
  background-color: #0f3460;
  padding: 1px 10px;
  font-size: 12px;
  color: white;
  border-radius: 50px;
}
.product-like i {
  font-size: 20px;
  margin: 10px 3px;
}
.product:hover .product-like {
  opacity: 1;
}
/*---------product-----------*/
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background: #0f3460;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
}
.control-btn .prev {
  left: -20px;
}
.control-btn .next {
  right: -20px;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background: #007CFF;
  color: white;
  cursor: pointer;
}
/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
  font-size: 30px;
}

.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
}
.heading .heading-right i,
.heading .heading-right {
  text-align: right;
  color: grey;
}
/*----- heading -------*/
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
@media (max-width: 980px) {
  .grid {
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 980px) {
  .grid2 {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 576px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
}


/* PRODUCTS MQ*/
@media (max-width: 1024px) {
  .product-details h3 {
    font-size: 1em;
  }

  .product-details .price h4 {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  .product-details h3 {
    font-size: 0.9em;
  }

  .product-details .price h4 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .product-details h3 {
    font-size: 0.8em;
  }

  .product-details .price h4 {
    font-size: 1em;
  }
}

@media screen and (max-width: 390px) {
  .position-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 0px;
    text-align: center;
    border-radius: 50%;
  }
  .icon-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: 0px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
  }
}